body
{
    margin: 0px 0px 0px 0px;
    font-family: 'Century Gothic';
}

a
{

    text-decoration: none;
    color:white;
}

a:hover{
    transition: 0.3s;
    color: #cbcbcb;
}

.heads{
    max-width:100%;
    height: 719px;
    background-image: url(../img/head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.header
{
    width: 100%;
    max-height: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.headerlk
{
    width: 100%;
    max-height: 150px;
    display: flex;
}

.logo
{
    width: 100px;
    height: 100px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50px;
}

.bilet
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.lk_logo::before{
    content: "👤 ";
}

.lk_f_logo::after{
    content: " 👤";
}

h1
{
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 110px;
}

h2
{
    color: #0085FF;
    text-align: center;
    font-size: 30px;
}

.content
{
    width: 100%;
    color: black;
}

.content h2
{
    margin: 5% 0;
}

.preim
{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.block1
{
    width: 20%;
    height: 190px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    text-align: center;
}

.otzivi
{
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0085FF;
}

.line
{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.logo_f
{
    width: 80px;
    height: 90px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50px;
}

.soc
{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.active__menu__link
{
    color: #77BEFF;
}

.circle {
    background: #ffffff;
    clip-path: circle(50%);
    height: 5em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle:hover{
    transition: 0.3s;
    background: #cbcbcb;
}

.vk
{
    width: 50px;
    height: 50px;
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tg
{
    width: 50px;
    height: 50px;
    background-image: url(../img/tg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.menu
{
    display: flex;
    width: 60%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.polev
{
    border-radius: 12px;
    font-size: 15px;
    padding: 15px 10px 15px 10px;
    border: 1px solid grey;
    width: 17%;
    outline: none;
}

.sub
{
    background-color: #0085FF;
    color: #fff;
    font-size: 15px;
    border: 1px solid #0085FF;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px 10px 15px 0px;
    width: 17%;
}

.sub:hover
{
    background-color: #0085ff00;
    transition: 0.3s;
}


.menu_f
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu_f a{
    padding-top: 4px;
    padding-bottom: 4px;
}

img
{
    width: 50px;
    height: 50px;
}

.menchik
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

.main
{
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.title
{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #0085FF;
}

.auth-form{
    min-width: 40%;
}
.form-buy{
    min-width: 40%;
}

.auth-form form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
}

.form-buy form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.auth-form form input[type=email],
.auth-form form input[type=text],
.auth-form form input[type=password],
.auth-form form input[type=number],
.auth-form form input[type=submit],
.auth-form form input[type=date],
.auth-form form input[type=time],
.auth-form form select,
.auth-form form input[type=file]
{
    min-width: 100%;
    padding-left: 5%;
    padding-bottom: 6%;
    padding-top: 6%;
    margin-bottom: 8%;
    border: 1px solid #D0D6E1;
    border-radius: 10px;
}
.form-buy form input[type=email],
.form-buy form input[type=text],
.form-buy form input[type=password],
.form-buy form input[type=number],
.form-buy form input[type=submit],
.form-buy form input[type=button],
.form-buy form select
{
    min-width: 100%;
    padding-left: 5%;
    padding-bottom: 6%;
    padding-top: 6%;
    margin-bottom: 8%;
    border: 1px solid #D0D6E1;
    border-radius: 10px;
}

.form-buy form select option
{
    padding: 1rem;
}

.auth-form form a
{
    margin-bottom: 8%;
    color: #000;
    text-decoration: none;
}

.auth-form form a:hover
{
    color: #0085FF;
    transition: 0.3s all;
}

.auth-form form input::-webkit-input-placeholder {
    color: #D0D6E1;
    font-size: 14px;
} 

.auth-form form input::-moz-placeholder {
    color: #D0D6E1;
    font-size: 14px;
}

.form-buy form input::-webkit-input-placeholder {
    color: #D0D6E1;
    font-size: 14px;
} 

.form-buy form input::-moz-placeholder {
    color: #D0D6E1;
    font-size: 14px;
}

.auth-form form input[type=submit]{
    background-color: #0085FF;
    color: #fff;
    font-size: 14px;
    border: 1px solid #0085FF;
    cursor: pointer;
    transition: 0.3s all;
}

.auth-form form input[type=submit]:hover
{
    background-color: transparent;
    color: #0085FF;
    transition: 0.3s all;
}

.auth-form form input[type=email]:focus,
.auth-form form input[type=password]:focus,
.auth-form form input[type=text]:focus,
.auth-form form input[type=number]:focus
{
    outline: none;
}

.form-buy form input[type=submit]{
    background-color: #0085FF;
    color: #fff;
    font-size: 14px;
    border: 1px solid #0085FF;
    cursor: pointer;
    transition: 0.3s all;
}

.form-buy form input[type=submit]:hover
{
    background-color: transparent;
    color: #0085FF;
    transition: 0.3s all;
}

.form-buy form input[type=button]{
    background-color: #0085FF;
    color: #fff;
    font-size: 14px;
    border: 1px solid #0085FF;
    cursor: pointer;
    transition: 0.3s all;
}

.form-buy form input[type=button]:hover
{
    background-color: transparent;
    color: #0085FF;
    transition: 0.3s all;
}

.form-buy form input[type=email]:focus,
.form-buy form input[type=password]:focus,
.form-buy form input[type=text]:focus,
.form-buy form input[type=number]:focus
{
    outline: none;
}

.form-buy label
{
    margin-bottom: 8%;
}

.v_pass_now
{
    position: relative;
    min-width: 100%;
}

.v_pass
{
    position: relative;
    min-width: 100%;
}

.v_pass_reply
{
    position: relative;
    min-width: 100%;
}

.icon
{
    background: url('../img/free-icon-eye-158746.png') no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 87%;
    margin-top: 5%;
}

.icon_reply
{
    background: url('../img/free-icon-eye-158746.png') no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 87%;
    margin-top: 5%;
}

.icon_update
{
    margin-left: 90%;
}

.icon_now
{
    background: url('../img/free-icon-eye-158746.png') no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 87%;
    margin-top: 5%;
}

.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
  }
  
  .checkbox-label {
    cursor: pointer;
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background: #D0D6E1;
  }
  
  .checkbox-label:before {
    position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;
    transition: .3s;
  }
  
  .checkbox:checked + .checkbox-label {
    background-color: #0085FF;
  }
  
  .checkbox:checked + .checkbox-label:before {
    left: calc(100% - 30px);
  }

#Price2
{
    display: none;
}

.private_data
{
    font-size: 24px;
    color: #fff;
}

.data
{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #0085FF;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

.lk_form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.first_input{
    margin-top: 5%;
}

.first_input input
{
    min-width: 28%;
    height: 40px;
    padding-left: 10px;
}

.first_input input::-webkit-input-placeholder {
    color: #D0D6E1;
    font-size: 14px;
} 

.first_input input::-moz-placeholder {
    color: #D0D6E1;
    font-size: 14px;
}

.second_input input::-webkit-input-placeholder {
    color: #D0D6E1;
    font-size: 14px;
} 

.second_input input::-moz-placeholder {
    color: #D0D6E1;
    font-size: 14px;
}

.second_input
{
    width: 100%;
    margin-top: 5%;
}

.second_input input
{
    min-width: calc(49.5% + 0.4px) ;
    height: 40px;
    padding-left: 10px;
}

.center_input
{
    /* margin: 0 25px 0 25px; */
}

.first_in
{
    /* margin-right: 25px; */
}

.lk_form > input[type=submit]{
    margin-top: 5%;
    width: 100%;
}

.lk_form > input,
.first_input > input,
.second_input > input
{
    border-radius: 10px;
}

.first_input > input:focus,
.second_input > input:focus
{
    outline: none;
}

.first_input > input,
.second_input > input
{
    border: 1px solid #D0D6E1;
}

.lk_form > input
{
    background: #fff;
    color: #0085FF;
    border: 1px solid #fff;
    transition: 0.3s all;
    height: 40px;
}

.lk_form > input:hover
{
    background: transparent;
    color: #fff;
    transition: 0.3s all;
}

.auth_block
{
    background: #0085FF;
    padding: 5%;
    border-radius: 10px;
    margin: 5%;
    height: 100%;
}

.save
{
    background: #fff!important;
    color: #0085FF!important;
    border: 1px solid #fff!important;
}

.save:hover
{
    background: transparent!important;
    color: #fff!important;
}

.auth_data
{
    margin-top: 15%;
}

.lk_about{
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.exit_lk
{
    color: #0085FF;
    transition: 0.3s all!important;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

.exit_lk:hover
{
    text-decoration: none!important;
    filter: brightness(0.5)!important;
    color: #0085FF!important;
    transition: 0.3s all!important;
}

.buy_bil .private_data
{
    color: #0085FF!important;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.users .private_data
{
    color: #0085FF!important;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.sales .private_data
{
    color: #0085FF!important;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.reviews .private_data
{
    color: #0085FF!important;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}


.flights .private_data
{
    color: #0085FF!important;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.add_flights
{
    color: #0085FF;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.add_flights_form
{
    display: flex;
    align-items: flex-start!important;
    max-width: 40%;
    margin: 8% auto;
}

.add_flights_form input[type=date],
.add_flights_form input[type=time]
{
    min-width: 100%;
    margin-bottom: 5%;
}

.e-ever2:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.05);
}
th
{
    padding: 0.75rem!important;
    text-align: center!important;
}
td
{
    min-width: 70px;
    height: 100%;
    padding: 1rem!important;
    border-top: 1px solid #dee2e6;
}

td > a
{
    text-decoration: none!important;
}

.e-update
{
    color: #d8a71d;
    transition: 0.3s all;
}

.e-update:hover
{
    color: #d8a71d;
    filter: brightness(0.5)!important;
    transition: 0.3s all;
}

.e-delete
{
    color: #ff0000;
    transition: 0.3s all;
}

.e-delete:hover
{
    color: #ff0000;
    filter: brightness(0.5);
    transition: 0.3s all;
}

table
{
    border-spacing: 0px 0px;
    width: 100%;
    text-align: center;
}

.error
{
    color: #D8000C;
    background-color: #FFBABA;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

.success
{
    color: #270;
    background-color: #DFF2BF;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

.reviews
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.e-reviews
{
    text-align: center;
    max-width: 210px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.e-reviews img
{
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: cover;
    border-radius: 50px;
}


.e-name
{
    padding: 5% 10% 0 10%;
    width: 150px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.e-content
{
    padding-top: 2%;
    width: auto;
    font-size: 14px;
    color: #666666;
}

.e-actions
{
    padding: 2% 0 0 40%;
}

.reject
{
    color: #ff0000;
    text-decoration: none;
    transition: 0.3s all;
}

.reject:hover
{
    text-decoration: none;
    color: #ff0000;
    filter: brightness(0.5);
    transition: 0.3s all;
}

.approve
{
    color: #3dbd3d;
    text-decoration: none;
    transition: 0.3s all;
    margin-right: 10%;
}

.approve:hover
{
    color: #3dbd3d;
    text-decoration: none;
    filter: brightness(0.5);
    transition: 0.3s all;
}

.status-reviews
{
    padding-left: 5%;
    padding-top: 2%;
}

.out_main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.out
{
    background-color: #0085FF;
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    flex-wrap: wrap;
    border-radius: 10px;
    color: #fff;
    padding: 5%;
    margin-bottom: 5%;
}

.out_form a
{
    background-color: #fff;
    border-radius: 10px;
    color: #0085FF;
    border: 1px solid #fff;
    padding: 1% 5%;
    transition: 0.3s all;
}

.out_form a:hover
{
    background: transparent;
    color: #fff;
    transition: 0.3s all;
    text-decoration: none;
}

.out_price
{
    font-size: 24px;
}

.out_buy
{
    text-align: center;
    margin-top: 5%;
}

#role
{
    display: none;
}

.e-h1
{
    color: #0085FF;
    margin-bottom: 5%;
}

.e-sad
{
    color: #0085FF;
}

.e-back-sad
{
    text-align: center;
    display: flex;
    background: #0085FF;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 45%;
    padding: 1% 0;
    border: 1px solid #0085FF;
    transition: 0.3s all;
}

.e-back-sad:hover
{
    text-decoration: none;
    color: #0085FF;
    background-color: #fff;
    transition: 0.3s all;
}

.create_review form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.create_review form textarea
{
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #D0D6E1;
    outline: none;
    min-width: 20%;
}

.create_review form textarea::-webkit-input-placeholder {
    color: #D0D6E1;
} 

.create_review form textarea::-moz-placeholder {
    color: #D0D6E1;
}

.create_review form input
{
    margin-top: 3%;
    min-width: 20%;
    padding: 1% 0;
    background-color: #0085FF;
    border: 1px solid #0085FF;
    border-radius: 10px;
    color: #fff;
    transition: 0.3s all;
}

.create_review form input:hover
{
    background-color: transparent;
    color: #0085FF;
    transition: 0.3s all;
}

.success_reviews
{
    min-width: 20%;
    margin-top: 2%;
}

.error_reviews
{
    min-width: 20%;
    margin-top: 2%;
}

.error_auth
{
    width: 100%;
}

.index_reviews
{
    width: 70%;
    padding-bottom: 5%;
}

.error_user
{
    width: 100%;
}

.success_user
{
    width: 100%;
}

.update_user
{
    margin-bottom: 5%;
}

.error_update
{
    width: 100%;
}

.success_update
{
    width: 100%;
}


.modal{
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.modal:target{
    opacity: 1;
    visibility: visible ;
}

.modal_body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px 10px;
    margin-top: 10%;
}
.modal_body_avatar{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px 10px;
    margin-top: 350px;
}
.modal_content{
    background-color: #f1f1f1;
    color: #000;
    width: 350px;
    padding: 30px;
    position: relative;
    height: 405px;
    transition: all 0.5s;
    opacity: 0;
    border-radius: 3px;
    transform: translate(0px, -100%);
}

.modal_content_reg
{
    background-color: #f1f1f1;
    color: #000;
    width: 300px;
    padding: 30px;
    position: relative;
    height: 710px;
    transition: all 0.5s;
    opacity: 0;
    border-radius: 3px;
    transform: translate(0px, -100%);   
}

.modal:target .modal_content{
    transform: translate(0px, 0px);
    opacity: 1;
}
.modal_content_avatar{
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
    max-width: 800px;
    padding: 30px;
    position: relative;
    height: 360px;
    transition: all 0.5 ease 0s;
    opacity: 0;
    border-radius: 3px;
    transform: translate(0px, -100%);
}
.modal:target .modal_content_avatar{
    transform: translate(0px, 0px);
    opacity: 1;
}
.modal_title{
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}
.modal_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.modal_close img
{
    width: 25px;
    height: 25px;
}
.modal_close:hover{
    color: gray;
    transition: 0.3s;
}

.modal_auth_input
{
    width: 93%;
}

.photo_lk .private_data
{
    color: #fff;
}

.photo_lk
{
    background-color: #0085FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
    margin: 5%;
}

.photo_lk form
{
    width: 100%;
}

.photo_lk form a
{
    width: 100%;
    background: #fff;
    color: #0085FF;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 5% 0;
    transition: 0.3s all;
    display: block;
    text-align: center;
}

.photo_lk form a:hover
{
    background: transparent;
    color: #fff;
    transition: 0.3s all;
    text-decoration: none;
}

.photo_change img
{
    object-fit: cover;
    border-radius: 150px;
    width: 150px;
    height: 150px;
}

    .tabs{
        font-size: 0;
        text-align: left;
    }
    .tabs>input[type="radio"] {
        display: none;
    }
    .tabs>div {
        display: none;
        padding: 10px 15px;
        font-size: 16px;
    }
    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2,
    #tab-btn-3:checked~#content-3,
    #tab-btn-4:checked~#content-4,
    #tab-btn-5:checked~#content-5,
    #tab-btn-6:checked~#content-6 {
        display: block;
    }
    .tabs>label {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        padding: 2px 8px;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        position: relative;
        top: 1px;
    }
    .tabs>label:not(:first-of-type) {
        border-left: none;
    }
    .tabs>input[type="radio"]:checked+label {
        background-color: #fff;
        border-bottom: 1px solid #80bdf5;
    }